<div class="works_header">
    <div class="works_head_title">
      <h1>EXHIBITION</h1>
    </div>

    <form action="/exhibition_operate_new" method="post" enctype="multipart/form-data" class="exhibition_contents_new">
        <input class="exhibition_contents_new_img" type="file" name="img">
        <input type="date" name="date">
        <label class="contents_new_title" for="title">タイトル:
          <input type="text" name="title">
        </label>
            <input class="exhibition_contents_new_submit" type="submit" value="新規投稿">
    </form>
</div>

<div class="main-exhibition-wrapper">
    <div class="main-exhibition-contents">
        <section class="event-contents">
          <h2>2024</h2>
            <ul class="exhibition-operate-contents i-list" >
                 <% @exhibition2024.each do |exhibition2024| %>
                  <li>
                        <img width="400" height="300" src="/images/<%= exhibition2024['img_path'] %>" alt="">
                        <div class="works-contents-title-wrapper">
                         <div>
                          <input type="file" class="works-contents-img-edit" name="file">
                         </div> 
                          <input type="hidden" value="<%= exhibition2024['id'] %>" name="content_id">
                        </div>
                        <form action="/operate_exhibition_edit" method="post" enctype="multipart/form-data">
                        <time><%= exhibition2024['created_at'] %></time>
                        <p class="eventlist-ttl"><%= exhibition2024['title'] %></p>
                  </li> 
                <% end %>      
            </ul>
        </section>
        <section class="event-contents">
            <h2>2023</h2>
                 <ul class="exhibition-operate-contents">
                   
                  <% @exhibition2023.each do |exhibition2023| %>
                   <li>
                        <img width="400" height="300" src="/images/<%= exhibition2023['img_path'] %>" alt="">
                        <div class="works-contents-title-wrapper">
                         <div>
                          <input type="file" class="works-contents-img-edit" name="file">
                         </div> 
                          <input type="hidden" value="<%= exhibition2023['id'] %>" name="content_id">
                        </div>
                        <time><input type="text" value="<%= exhibition2023['created_at'] %>" name="date"></time>
                        <p><input type="text" value="<%= exhibition2023['title'] %>" name="title"></p>
                        <input class="works-contents-btn" type="submit" value="変更">
                   </li>   
                  <% end %>      
                  
                </ul>
        </section>
     </div>
</div>

